@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.main {
    height: 90vh;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.my-custom-font1 {
    font-family: 'PyeongChangPeace-Bold', sans-serif; /* 폰트 패밀리 이름 사용 */
  }

.my-custom-font2 {
    font-family: 'LeferiPoint-BlackA', sans-serif; /* 폰트 패밀리 이름 사용 */
  }

.text-with-stroke {
    -webkit-text-stroke: 1.5px #000; /* 테두리 두께와 색상 설정 */
    color: transparent; /* 글자를 투명하게 만듭니다. */
  }

@media (max-width: 768px) {
    /* 768px 이하일 때 모바일 스타일을 적용 */
    .main {
      height: 80vh;
    }
    
  }